.edit-user-card {
    width: 400px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .edit-user-card mat-card-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .edit-user-card .full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    opacity: 0.9;
  }