<mat-card class="edit-user-card">
  
  <mat-card-title>
    Edit User
  </mat-card-title>
    
  <mat-card-content>
    
  
    <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
    
     
      <mat-form-field class="full-width">
        <mat-label>Name:</mat-label>
        <input matInput placeholder="Name" formControlName="name" name="name">
      </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Occupation:</mat-label>
        <input matInput placeholder="Occupation" formControlName="occupation" name="occupation">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Email:</mat-label>
        <input matInput placeholder="Email" formControlName="email" name="email">
      </mat-form-field>
      
      <mat-card-actions>
        <button mat-button type="submit" class="submit-button">Submit</button>
      </mat-card-actions>

    </form>
  
  </mat-card-content>

</mat-card>