.user-details-card {
    width: 400px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-details-card mat-card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.user-details-card p {
    margin-bottom: 10px;
}


.return-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.return-button:hover {
    background-color: #0056b3;
}