
<mat-card class="user-details-card">
    <mat-card-title>User Details</mat-card-title>
    
    <mat-card-content>
      <p><strong>Name:</strong> {{ user.name }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Occupation:</strong> {{ user.occupation }}</p>
      <p><strong>Bio:</strong> {{ user.bio }}</p>
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-button class="return-button" (click)="goBackToList()">Return to User List</button>
    </mat-card-actions>
  </mat-card>