<mat-card class="edit-user-card">
<mat-card-title>
    Add User
  </mat-card-title>
    
<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
  
    <mat-form-field class="full-width">
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>
  
    <mat-form-field class="full-width">
      <mat-label>Occupation:</mat-label>
      <input matInput formControlName="occupation" placeholder="Occupation">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Email:</mat-label>
      <input matInput formControlName="email" placeholder="Email">
    </mat-form-field>
  
    <mat-form-field class="full-width">
        <mat-label>Bio:</mat-label>
        <input matInput formControlName="bio" placeholder="Bio">
      </mat-form-field>
  
    <button mat-raised-button type="submit" class="add-button">Add User</button>
  
  </form>
</mat-card>