<h1>User List</h1>
<div class="add-button-div">
<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search user">
  </mat-form-field>
</div>
  <button class="add-button" (click)="addUser()">
    Add User
  </button>
</div>

<mat-paginator  
style="margin-bottom: 20px;"
[length]="dataSource.data.length" 
[pageSize]="10" 
[pageSizeOptions]="[5, 7, 10]"> 
</mat-paginator>

<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource" class="user-table">
    
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="table-header"> Name </mat-header-cell>
      <mat-cell *matCellDef="let user" class="table-cell"> {{user.name}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef class="table-header"> Email </mat-header-cell>
      <mat-cell *matCellDef="let user" class="table-cell"> {{user.email}} </mat-cell>
    </ng-container>

  
    <ng-container matColumnDef="occupation">
      <mat-header-cell *matHeaderCellDef class="table-header"> Occupation </mat-header-cell>
      <mat-cell *matCellDef="let user" class="table-cell"> {{user.occupation}} </mat-cell>
    </ng-container>

    
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="table-header"> Action </mat-header-cell>
      <mat-cell *matCellDef="let user" class="table-cell">
        <button class="action-button" (click)="showDetails(user)"> details </button>
        <button class="action-button" (click)="deleteUser(user)"> delete </button>
        <button class="action-button"(click)="editUser(user)"> edit </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="table-header-row"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></mat-row>
  </mat-table>
</div>
