h1{
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

.add-button-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.add-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Effet au survol */
.add-button:hover {
    background-color: #45a049;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Effet de pression */
.add-button:active {
    transform: translateY(2px);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}


.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
}

.table-header {
    background-color: #f4f4f4;
    padding: 10px 15px;
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

.table-cell {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.table-cell:last-child {
    text-align: center;
    /* Centrer les boutons d'action */
}

.action-button {
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
}

.action-button:hover {
    background-color: #007bff;
    color: #fff;
}

.action-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.action-button:focus {
    outline: none;
}


.table-header-row {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

.table-row {
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

.table-row:hover {
    background-color: #e0e0e0;
}